Atividade1/node_modules
Atividade1/src/out/png/*.png
Atividade1/src/out/ppm/*.ppm
Atividade2/node_modules
Atividade2/src/out/*.ppm
Atividade3/node_modules
Atividade4/node_modules
Atividade4/src/out/png/*.png
Atividade4/src/out/ppm/*.ppm
Atividade5/node_modules
Atividade6/node_modules